*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
build/
AC-Commons/build.xml
AC-Commons/build_commons.bat
AC-Commons/libs/bonecp-0.7.1.RELEASE.jar
AC-Commons/libs/c3p0-0.9.1.1.jar
AC-Commons/libs/cglib-nodep-2.2.jar
AC-Commons/libs/com/sun/tools/javac/1.6/javac-1.6.jar
AC-Commons/libs/commons-io-2.4.jar
AC-Commons/libs/commons-lang-2.6.jar
AC-Commons/libs/guava-13.0.1.jar
AC-Commons/libs/hamcrest-all-1.3.jar
AC-Commons/libs/javac-1.6.jar
AC-Commons/libs/javassist-3.15.0-GA.jar
AC-Commons/libs/javolution-5.5.1.jar
AC-Commons/libs/joda-time-2.1.jar
AC-Commons/libs/jsr166-1.0.0.jar
AC-Commons/libs/jsr166-1.7.0.jar
AC-Commons/libs/jsr305-2.0.1.jar
AC-Commons/libs/junit-4.11.jar
AC-Commons/libs/lambdaj-2.4.jar
AC-Commons/libs/logback-classic-1.1.2.jar
AC-Commons/libs/logback-core-1.1.2.jar
AC-Commons/libs/mysql-connector-java-5.1.33.jar
AC-Commons/libs/objenesis-1.2.jar
AC-Commons/libs/org/aionlightning/javolution/5.5.1/javolution-5.5.1.jar
AC-Commons/libs/quartz-2.1.7.jar
AC-Commons/libs/slf4j-api-1.6.4.jar
AC-Commons/libs/trove4j-3.0.3.jar
AC-Commons/libs/xercesImpl-2.8.1.jar
AC-Game.rar
AC-Game/libs/jsr166/al-commons-1.3-sources.jar
AC-Game/libs/jsr166/bonecp-0.7.1.RELEASE.jar
AC-Game/libs/jsr166/cglib-nodep-2.2.jar
AC-Game/libs/jsr166/commons-io-2.1.jar
AC-Game/libs/jsr166/hamcrest-all-1.1.jar
AC-Game/libs/jsr166/jsr166/1.0.0/jsr166-1.0.0.jar
AC-Game/libs/jsr166/junit-4.0.jar
AC-Game/libs/jsr166/lambdaj-2.4-with-dependencies.jar
AC-Game/libs/jsr166/log4j-1.2.16.jar
AC-Game/libs/jsr166/logback-classic-1.0.0.jar
AC-Game/libs/jsr166/logback-core-1.0.0.jar
AC-Game/libs/jsr166/objenesis-1.2.jar
AC-Login/libs/cglib-nodep-2.2.jar
AC-Login/libs/commons-io-2.4.jar
AC-Login/libs/hamcrest-all-1.3.jar
AC-Login/libs/joda-time-2.1.jar
AC-Login/libs/jsr166-1.0.0.jar
AC-Login/libs/jsr166-1.7.0.jar
AC-Login/libs/jsr166/al-commons-1.3-sources.jar
AC-Login/libs/jsr166/bonecp-0.7.1.RELEASE.jar
AC-Login/libs/jsr166/cglib-nodep-2.2.jar
AC-Login/libs/jsr166/commons-io-2.1.jar
AC-Login/libs/jsr166/hamcrest-all-1.1.jar
AC-Login/libs/jsr166/jsr166/1.0.0/jsr166-1.0.0.jar
AC-Login/libs/jsr166/junit-4.0.jar
AC-Login/libs/jsr166/lambdaj-2.4-with-dependencies.jar
AC-Login/libs/jsr166/log4j-1.2.16.jar
AC-Login/libs/jsr166/logback-classic-1.0.0.jar
AC-Login/libs/jsr166/logback-core-1.0.0.jar
AC-Login/libs/jsr166/objenesis-1.2.jar
AC-Login/libs/jsr305-2.0.1.jar
AC-Login/libs/junit-4.11.jar
AC-Login/libs/lambdaj-2.4.jar
AC-Login/libs/objenesis-1.2.jar
AC-Login/libs/slf4j-api-1.6.4.jar
AC-Login/libs/trove4j-3.0.3.jar
AC-Login/libs/xercesImpl-2.8.1.jar
AC-Tools/Ant/etc/ant-bootstrap.jar
AC-Tools/Ant/lib/ant-antlr.jar
AC-Tools/Ant/lib/ant-apache-bcel.jar
AC-Tools/Ant/lib/ant-apache-bsf.jar
AC-Tools/Ant/lib/ant-apache-log4j.jar
AC-Tools/Ant/lib/ant-apache-oro.jar
AC-Tools/Ant/lib/ant-apache-regexp.jar
AC-Tools/Ant/lib/ant-apache-resolver.jar
AC-Tools/Ant/lib/ant-apache-xalan2.jar
AC-Tools/Ant/lib/ant-commons-logging.jar
AC-Tools/Ant/lib/ant-commons-net.jar
AC-Tools/Ant/lib/ant-jai.jar
AC-Tools/Ant/lib/ant-javamail.jar
AC-Tools/Ant/lib/ant-jdepend.jar
AC-Tools/Ant/lib/ant-jmf.jar
AC-Tools/Ant/lib/ant-jsch.jar
AC-Tools/Ant/lib/ant-junit.jar
AC-Tools/Ant/lib/ant-junit4.jar
AC-Tools/Ant/lib/ant-launcher.jar
AC-Tools/Ant/lib/ant-netrexx.jar
AC-Tools/Ant/lib/ant-nodeps.jar
AC-Tools/Ant/lib/ant-swing.jar
AC-Tools/Ant/lib/ant-testutil.jar
AC-Tools/Ant/lib/ant.jar
AC-Tools/Ant/lib/yguard.jar
